<form action="<%= product_comments_path(product)%>" method="post" >
<%# <input type='hidden' name =' authenticity_token ' value = "<%= form_authenticiy_token %>
  <% if !parent.nil? %>
    <input type='hidden' name ='comment[parent_id]' value="<%= parent.id %>">
  <%end%>
  <div class="add-comment">
    <%if current_user %>
      <%=image_tag(current_user.image, 
                style:
                " display:inline-block;
                  border-radius:50%;
                  height:50px;
                  width:50px;")%>
      <input name='comment[body]' class='add-comment-body'  data-behavior="room_speaker">
      <input type="submit" value='submit'>
    <%end%>
  </div>
</form>


