/* 
*= require_tree .
 
 */

@import "bootstrap";

//header 
.navbar-nav img{
    width:30px;
}
.navbar-nav {
    // float:right;
    width: 96%;
    justify-content: space-between;
}
a {background-color:transparent !important;}
.cart-image img{
    width:100px;
    height: 125px;
    margin-left: -13px;

}
.cart-add-btn img{
    width:20px;
}
.cart-remove-btn-1 img{
    width:20px;
}
.cart-remove-btn img{
    float:right;
    width:20px;
    margin-right: -13px;
}
.cart-view{
    background: skyblue;
    border-radius: 0 10px 0 0;
    margin: 0 0 10px 0;
}
.cart-id{
    display: none;
}
.destroy{
    cursor: pointer;
    width:50px;  
}
#home{
    cursor: pointer;
    width:50px;  
}
#order{
    cursor: pointer;
    width:50px;  
}
#cart-image{
    cursor: pointer;
    width:50px;  
}
.lineItem-id{
    display: none;
}
.add-item{
    border: 1px solid grey;
    padding: 7px;
    cursor: pointer;
}
.show-item{
    border: 1px solid grey;
    padding: 7px;
    cursor: pointer;
}
#emp-cart{
    cursor:pointer;
}
#user-image img{
    height: 40px;
    border-radius: 50px;
    width: 40px;
}
.order-name{
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.main-order-item{
    list-style: none;
    display: flex;
    width: 17%;
    justify-content: space-between;
}
.select-bar{
    display: none;
}